{% extends "layout.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h6>Game ID:</h6>
            <h5>{{ game_id }}</h5>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <!-- /socket.io/?EIO=4&transport=websocket -->
        {% for player in players %}
        <div id="player-{{ player.position }}">
            {% include "x01/_player_tile.html" %}
        </div>
        {% endfor %}
    </div>
</div>


<script src="{{ url_for('static', filename='socketio.min.js') }}"></script>
<script>
    // Connect to Flask-SocketIO server
    var socket = io.connect("http://localhost:5000"); // Change URL if needed

    socket.on("connect", function () {
        console.log("✅ Connected to server!");
    });

    socket.on("update_tile", function (data) {
        console.log("🔄 Updating player tile:", data);

        // Find the player's tile and update it
        let playerTile = document.querySelector(`#player-${data.player_id}`);
        if (playerTile) {
            playerTile.innerHTML = data.html;
        }
    });

    function startGameMonitoring(game_id) {
        let url = `/utils/start_game_listener?game_id=${game_id}`
        fetch(url, {
            method: "GET",
        }).catch(error => console.error("Error:", error));
    }

    startGameMonitoring("{{ game_id }}");

</script>

{% endblock %}