{% extends "layout.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h6>Game ID:</h6>
            <h5>{{ game_id }}</h5>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <!-- /socket.io/?EIO=4&transport=websocket -->
        {% for player in players %}
        <div id="player-{{ player.position }}">
            {% include "x01/_player_tile.html" %}
        </div>
        {% endfor %}
    </div>
</div>


<script>
    function startGameMonitoring(game_id) {
        let url = `/utils/start_game_listener?game_id=${game_id}`
        fetch(url, {
            method: "GET",
        }).catch(error => console.error("Error:", error));
    }

    function connectWebSocket() {
        let socket = new WebSocket("ws://localhost:5000/socket.io/update_tile?EIO=4&transport=websocket",);

        socket.onopen = () => console.log("Connected to WebSocket");

        socket.onmessage = (event) => {
            console.log(event.data);
        }

        socket.onclose = (e) => {
            console.warn(`WebSocket closed: ${e.reason}. Reconnecting in 3 seconds...`);
            setTimeout(connectWebSocket, 3000);
        };
        socket.onerror = (e) => console.error(`WebSocket error: ${e.message}`);
    }

    startGameMonitoring("{{ game_id }}");
    connectWebSocket();

</script>

{% endblock %}